<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.toponimo.client"
    android:installLocation="preferExternal"
    android:versionCode="010101"
    android:versionName="0.1.1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.toponimo.client.ToponimoApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="org.toponimo.client.ui.LoginCheckActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.toponimo.client.ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="org.toponimo.client.ui.PlaceListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.toponimo.client.ui.MapsViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.toponimo.client.ui.PlaceDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.toponimo.client.ui.AddWordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name="org.toponimo.client.ui.JournalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.toponimo.client.ui.WordDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.toponimo.client.ui.ImageViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar" />
        <activity
            android:name="org.toponimo.client.ui.DrawActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.Sherlock.Light" />

        <service android:name="org.toponimo.client.utils.location.LocationUpdateService" />
        <service android:name="org.toponimo.client.RestService" />

        <provider
            android:name="org.toponimo.client.database.ClientWordsProvider"
            android:authorities="org.toponimo.provider.words"
            android:multiprocess="true" />
    </application>

</manifest>